
.hamburger-button {
  cursor: pointer;
  margin-left: 18px;
  margin-top: 18px;
}

.login-buttons {
  margin-right: 23px;
  margin-top: 23px;
}

.breadcrumbs {
  margin: 23px 0px 0px 0px;
}

.btn-breadcrumb {
  margin-left: 0px !important;
}

.nav {
  padding-left: 0;
  margin-bottom: 2px;
  list-style: none;
}

// .navbar-brand,
// .navbar-nav
// {
//   margin-left: 30px;
//   li a {
//     line-height: 60px;
//     height: 60px;
//     padding-top: 0;
//   }
// }

// .navbar-custom body {
//   background: #673ab7;
//   color: white;
//   text-align: center;
// }

// .navbar-custom h1, h2, h3, h4 {
//   margin: 0;
//   margin-bottom: 10px;
//   margin-top: 10px;
// }

// .navbar-custom h1 {
//   font-size: 3em;
// }


// .menu-item, .menu-open-button {
//   background: @oviu-grey;
//   border-radius: 100%;
//   width: 80px;
//   height: 80px;
//   margin-left: -40px;
//   position: absolute;
//   top: 20px;
//   color: white;
//   text-align: center;
//   line-height: 80px;
//   -webkit-transform: translate3d(0, 0, 0);
//           transform: translate3d(0, 0, 0);
//      -moz-transform: translate3d(0, 0, 0);
//       -ms-transform: translate3d(0, 0, 0);
//        -o-transform: translate3d(0, 0, 0);
//  -webkit-transition: -webkit-transform ease-out 200ms;
//     -moz-transition: -moz-transform ease-out 200ms;
//      -ms-transition: -ms-transform ease-out 200ms;
//       -o-transition: -o-transform ease-out 200ms;
//          transition: transform ease-out 200ms;
// }

// .menu-open {
//   display: none;
// }

// .menu {
//   position: absolute;
//   left: 15%;
//   margin-left: -80px;
//   padding-top: 20px;
//   padding-left: 80px;
//   width: 650px;
//   height: 40px;
//   box-sizing: border-box;
//   font-size: 20px;
//   text-align: left;
// }

// .menu-item:hover {
//   background: @wind;
//   color: @oviu-grey;
// }

// .navbar a.active {
//   background: @wind;
//   color: @oviu-grey;
// }
