<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">

      <div class="modal-header text-center">
        <h4 class="modal-title authform-header-content">
          Vi skickar instruktioner för återställning till dig
        </h4>
        <span type="button" class="glyphicon glyphicon-remove pull-right
          authform-header-content" id="authform-close" data-dismiss="modal"
          ng-click="forgotPasswordDismiss()">
        </span>
      </div>

      <div class="modal-body">
        <form ng-submit="createRecoveryLink(userdata)" name="recoverForm" novalidate>
          <div class="alert alert-success" role="alert" ng-show="success &&
            message">{{message}}</div>
          <div class="alert alert-danger" role="alert" ng-show="!success &&
            message">{{message}}</div>

          <div class="form-group" ng-class="{ 'has-error' :
            recoverForm.orgName.$invalid && recoverForm.$dirty }">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-briefcase"></i>
              </span>
              <input type="text" class="form-control" id="org-name" name="orgName"
                ng-model="userdata.orgname"
                required
                placeholder="Företagsnamn">
            </div>
            <p class="help-block" ng-show="recoverForm.orgName.$invalid &&
            recoverForm.orgName.$dirty">
              <span>Du glömde ange företagsnamnet.</span>
            </p>
          </div>

          <div class="form-group"
            ng-class="{ 'has-error' : (recoverForm.userEmail.$invalid &&
            recoverForm.userEmail.$dirty) || (recoverForm.$submitted && !success) }">
            <div class="input-group">
              <span class="input-group-addon">
                @
              </span>
              <input type="email" class="form-control" id="user-email"
                name="userEmail"
                ng-model="userdata.email"
                required
                placeholder="E-mail">
            </div>
            <p class="help-block" ng-show="mailerror">
              <span>Denna mailaddress är inte registrerad.</span>
            </p>
          </div>

          <div class="modal-footer text-center">
            <button type="submit" class="btn btn-block btn-lg btn-wind">
              Återställ lösenord
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
