<div class="container" style="margin-top:40px">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Logga in för att komma åt webbappen.</strong>
        </div>
        <div class="panel-body">

          <form class="form-signin" ng-submit="loginUser(user)" name="loginForm" novalidate>
            <div class="alert alert-danger" role="alert" ng-show="failure && message">
              {{message}}
            </div>
            <fieldset>
              <div class="row">
                <div class="center-block">
                  <img class="profile-img img-responsive"
                  src="http://suppliercloud.se/wp-content/uploads/2014/11/O-viu_logotplus_bluelight_rgbRETINA.png" alt="">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-briefcase"></i>
                      </span> 
                      <input type="text" class="form-control" id="org-name"
                      name="orgName"
                      ng-model="user.orgname"
                      placeholder="företagsnamn"
                      required 
                      autofocus>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">
                        @
                      </span> 
                      <input 
                      type="text" 
                      class="form-control" 
                      id="user-email"
                      name="userEmail"
                      ng-model="user.email"
                      placeholder="namn@företag.se"
                      required 
                      autofocus>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                      </span>
                      <input 
                      type="password" 
                      class="form-control col-xs-6" 
                      id="user-password"
                      name="userPassword"
                      ng-model="user.password"
                      placeholder="Lösenord"
                      required>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-wind btn-block" value="Logga in">
                  </div>
                </div>
              </div>
            </fieldset>
          </form>

        </div>

        <div class="panel-footer">
          <div>
            Har du inget konto?&nbsp;
            <a href ng-click="showRegistration()">
              Registrera ditt företag här!
            </a>
          <div>
          <div>
            Har du&nbsp;
            <a href ng-click="forgotPassword()">
              glömt ditt lösenord?
            </a>
          <div>
        </div>

      </div>
    </div>
  </div>
</div>
