<div class="row">
	<div class="col-sm-3 col-xs-12">
		<div class="hamburger-button pull-left" snap-toggle="left">
    		<i class="fa fa-bars fa-3x"> Meny</i>
		</div>
	</div>

	<div class="col-sm-6 hidden-xs">
		<div class="breadcrumbs text-center">
		    <div class="alert alert-success" role="alert" ng-show="success">
		      {{submitMessage}}
		    </div>
		    <div class="alert alert-danger" role="alert" ng-show="failure">
		      {{submitMessage}}
		    </div>
		    <div ng-if="firstStateTitle != null">
		      <div id="bc1" class="btn-group btn-breadcrumb">
		        <a ui-sref="hem" class="btn btn-default"><i class="glyphicon icon-home"></i></a>
		        <a ng-click="clickHandler()" class="btn btn-default"><div>{{firstStateTitle}}</div></a>
		        <a ng-if="secondStateTitle != null" class="btn btn-default"><div>{{secondStateTitle  || "Hittade inte platsen"}}</div></a>
		      </div>
		    </div>
		</div>
	</div>

	<div class="col-sm-3 col-xs-12 hidden-xs">
		<div class="login-buttons pull-right">
		  <a ng-if="!isLoggedIn" ui-sref="login" id="login-button" class="btn btn-wind btn-circle" role="button">Logga in</a>
		  <a ng-if="isLoggedIn" href ng-click="logoutUser()" id="logout-button" class="btn btn-wind btn-circle" role="button">Logga ut</a>
		</div>
	</div>
</div>


