<div class="snap-drawers">
  <div id="shelf-1" snap-drawer>
    <nav ng-controller="NavbarCtrl">
      <div class="container-fluid">
        <div id="logo">
          <a ui-sref="hem">
            <img id="logo"
            src="http://suppliercloud.se/wp-content/uploads/2014/11/O-viu_logotplus_bluelight_rgbRETINA.png"
            class="img-responsive" 
            alt="O-viu">
          </a>
        </div>
        <ul class="nav nav-pills nav-stacked darkwind">
          <li ng-if="!isLoggedIn" ui-sref-active="active">
            <a ui-sref="login"><i class="fa fa-unlock-alt"></i> Login</a>
          </li>
          <li ng-if="isLoggedIn"  ui-sref-active="active">
            <a ui-sref="hem"><span class="glyphicon icon-home" aria-hidden="true"></span> Hem</a>
          </li>
          <li ng-if="isLoggedIn" ui-sref-active="active">
            <a ui-sref="leverantorer"><span class="glyphicon icon-Leverantor" aria-hidden="true"></span> Leverantörer</a>
          </li>
          <li ng-if="isLoggedIn" ui-sref-active="active">
            <a ui-sref="anvandare"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Användare</a>
          </li>
          <li ng-if="isLoggedIn" ui-sref-active="active">
            <a ui-sref="kpi"><span class="glyphicon icon-kpi" aria-hidden="true"></span> KPI</a>
          </li>

          <!-- <li ng-if="isLoggedIn" ui-sref-active="active"><a ui-sref="inbjudan"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Skicka inbjudan</a></li> -->

          <li ng-if="isLoggedIn" class="dropdown">
          <a ui-sref="hem" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-asterisk"></span> Mer<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-if="isLoggedIn && (userRole == 'creator' || userRole == 'admin')">
              <a ui-sref="inbjudan">Skicka inbjudan</a>
            </li>
            <li><a ui-sref="hem">Test 1</a></li>
            <li><a ui-sref="hem">Test 2</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">En överskrift</li>
            <li><a ui-sref="hem">Test 3</a></li>
            <li><a ui-sref="hem">Test 4</a></li>
          </ul>
          </li>
        </ul>
        <button class="btn btn-wind btn-block" snap-close="">Stäng</button>
          <button ng-if="isLoggedIn" href ng-click="logoutUser()" id="logout-button" class="btn btn-wind btn-block bottom-align container-fluid">
          Logga ut
        </button>

      </div><!--/.container-fluid -->
    </nav>
  </div>
</div>
