/**
* Only our `main.less` file is included in compilation; all other files
* that ought to be inlcuded must be imported here. There should not be necessary
* to specify the paths since grunt does that for us.
*/
.confirmation-box {
  background-color: white;
}
.hamburger-button {
  cursor: pointer;
  margin-left: 18px;
  margin-top: 18px;
}
.login-buttons {
  margin-right: 23px;
  margin-top: 23px;
}
.breadcrumbs {
  margin: 23px 0px 0px 0px;
}
.btn-breadcrumb {
  margin-left: 0px !important;
}
.nav {
  padding-left: 0;
  margin-bottom: 2px;
  list-style: none;
}
a.link-block {
  display: block;
  color: #222;
  text-decoration: none;
}
#search-row {
  background: rgba(119, 202, 196, 0.8);
}
#search-row h1 {
  margin-bottom: 15px;
}
#headerSingleSupplier .form-control {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 55px;
}
.form-horizontal {
  margin-top: 0px;
}
.star {
  margin-left: 18px;
}
.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 160px;
  height: 90px;
  text-align: center;
  padding-top: 25px;
  margin: 10px;
}
.dragover {
  border: 5px dashed blue;
}
.drop-box.dragover-err {
  border: 5px dashed red;
}
.sel-file {
  padding: 1px 5px;
  font-size: smaller;
  color: grey;
}
.response {
  padding: 0;
  padding-top: 10px;
  margin: 3px 0;
  clear: both;
}
.response .sel-file li,
.response .reqh {
  color: blue;
  padding-bottom: 5px;
}
.progress {
  display: inline-block;
  width: 160px;
  height: 90px;
  text-align: center;
  margin: 10px;
  border: 2px #58595b;
}
.progress div {
  font-size: smaller;
  background: #77cac4;
  width: 0;
}
.up-buttons {
  float: left;
}
/* for IE*/
.js-fileapi-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.ng-v {
  float: right;
}
form .thumb {
  width: 160px;
  float: none;
  position: relative;
  top: 7px;
  margin: 10px;
}
form .progress {
  line-height: 15px;
}
.sub {
  font-size: smaller;
  color: #777;
  padding-top: 5px;
  padding-left: 10px;
}
.err {
  font-size: 12px;
  color: #C53F00;
  margin: 15px;
  padding: 15px;
  background-color: #F0F0F0;
  border: 1px solid black;
}
.server {
  margin-bottom: 20px;
}
.srv-title {
  font-weight: bold;
  padding: 5px 0 10px 0;
}
:not(output):-moz-ui-invalid {
  box-shadow: none;
}
#search-row .input-container {
  margin-top: 15px;
  color: black;
}
#search-row .input-container .rating:before {
  content: "\f006";
  padding-right: 5px;
  color: black;
}
#search-row .input-container .rating-selected:before {
  content: "\f005";
  padding-right: 5px;
  color: #e3cf7a;
}
.live-preview {
  margin-bottom: 20px;
}
.supplier-inner {
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  line-height: 1.5;
  background-color: white;
  min-height: 200px;
  width: 100%;
  font-size: 11px;
  padding: 3px;
}
.supplier-inner:hover {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #b4e8e4;
  text-decoration: none;
}
#suppliercontainer {
  border-collapse: collapse;
}
.fix-padding {
  padding-left: 10px;
  padding-right: 10px;
}
#supplier-title {
  padding-left: 10px;
  padding-right: 10px;
}
#supplier-category {
  display: table-row;
  vertical-align: bottom;
  height: 1px;
}
.supplier-card {
  padding-right: 5px;
  padding-left: 5px;
}
.input-container {
  float: left;
}
div.segment {
  float: left;
  width: 75%;
  margin: 0;
  padding: 0 15px;
  overflow: hidden;
}
.tag-label {
  float: left;
  width: 50%;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  text-tranform: capitalize;
  white-space: nowrap;
}
.tag-label:hover {
  border-color: #ddd;
  color: #888;
}
.tag-label:active {
  border-color: #999;
  color: #222;
}
/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}
.btn-group .btn + .btn {
  margin-left: 0px;
}
.btn-breadcrumb {
  margin-left: 50px;
}
.btn-breadcrumb .btn {
  padding: 6px 12px 6px 24px;
  border-radius: 0px;
}
.btn-breadcrumb .btn:first-child {
  padding: 6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding: 6px 18px 6px 24px;
}
/** Default button **/
.btn-breadcrumb .btn-default {
  color: #333;
  background-color: #f1f4fa;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #f1f4fa;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #f1f4fa;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}
/* The responsive part */
.btn-breadcrumb > * > div {
  /* With less: .text-overflow(); */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-breadcrumb > *:nth-child(n+2) {
  display: none;
}
/* === For phones =================================== */
@media (max-width: 767px) {
  .btn-breadcrumb > *:nth-last-child(-n+2) {
    display: block;
  }
  .btn-breadcrumb > * div {
    max-width: 60px;
  }
}
/* === For tablets ================================== */
@media (min-width: 768px) and (max-width: 991px) {
  .btn-breadcrumb > *:nth-last-child(-n+4) {
    display: block;
  }
  .btn-breadcrumb > * div {
    max-width: 100px;
  }
}
/* === For desktops ================================== */
@media (min-width: 992px) {
  .btn-breadcrumb > *:nth-last-child(-n+6) {
    display: block;
  }
  .btn-breadcrumb > * div {
    max-width: 170px;
  }
}
.profile-img {
  margin: 0 auto 10px;
  padding: 0 50px 0;
  display: block;
  width: 100%;
}
.modal {
  display: block;
  height: 0;
  overflow: visible;
}
.modal-body:before,
.modal-body:after {
  display: table;
  content: " ";
}
.modal-header:before,
.modal-header:after {
  display: table;
  content: " ";
}
.authform-header-content {
  display: inline;
}
#authform-close {
  cursor: pointer;
  cursor: hand;
}
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
}
.modal-backdrop.am-fade.ng-enter {
  opacity: 0;
}
.modal-backdrop.am-fade.ng-enter.ng-enter-active {
  opacity: .5;
}
.modal-backdrop.am-fade.ng-leave {
  opacity: .5;
}
.modal-backdrop.am-fade.ng-leave.ng-leave-active {
  opacity: 0;
}
#welcome {
  margin: 0;
}
body {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555459;
  padding-bottom: 60px;
}
html,
body,
#content {
  background: #f1f4fa;
  height: 100%;
  width: 100%;
}
/* Fix for Bootstrap 3 with Angular UI Bootstrap */
.modal {
  display: block;
}
/* Custom dialog/modal headers */
.dialog-header-error {
  background-color: #d2322d;
}
.dialog-header-wait {
  background-color: #428bca;
}
.dialog-header-notify {
  background-color: #eeeeee;
}
.dialog-header-confirm {
  background-color: #333333;
}
.dialog-header-error span,
.dialog-header-error h4,
.dialog-header-wait span,
.dialog-header-wait h4,
.dialog-header-confirm span,
.dialog-header-confirm h4 {
  color: #ffffff;
}
/* Ease Display */
.pad {
  padding: 25px;
}
/* Prett modal header */
.modal-header {
  background-color: #58595b;
}
.modal-header h3,
.modal-header h4,
.modal-header span {
  color: white;
}
#logo {
  margin: 30px 0px 10px 0px;
}
.bottom-align {
  position: absolute;
  bottom: 0;
  right: 0;
}
#angularContent {
  padding-top: 0px;
}
#shelf-1 {
  width: 200px;
  padding: 0px 0px;
  background: #58595b;
}
#nav-wrapper {
  width: 100%;
  text-align: center;
}
.scrollable {
  overflow: auto;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: .2s, .2s;
  transition-duration: .2s, .2s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 0px;
  list-style: none;
  background-color: white;
  border-radius: 4px;
}
.darkwind .active a,
.darkwind a:hover {
  background-color: #7aaaa7 !important;
  color: white !important;
}
.darkwind a {
  color: #7aaaa7 !important;
}
.admincards .darkwind {
  background-color: #7aaaa7 !important;
  color: white !important;
}
.darkwind span {
  opacity: 0.5;
}
.darkwind small {
  opacity: 0.5;
  color: white !important;
}
.wind .active a,
.wind a:hover {
  background-color: #77cac4 !important;
  color: white !important;
}
.wind a {
  color: #77cac4 !important;
}
.admincards .wind {
  background-color: #77cac4 !important;
  color: white !important;
}
.wind span {
  opacity: 0.7;
}
.wind small {
  opacity: 0.7;
  color: white !important;
}
.oviu-lightgrey .active a,
.oviu-lightgrey a:hover {
  background-color: #bcbec0 !important;
  color: white !important;
}
.oviu-lightgrey a {
  color: #bcbec0 !important;
}
.admincards .oviu-lightgrey {
  background-color: #bcbec0 !important;
  color: white !important;
}
.oviu-lightgrey span {
  opacity: 0.7;
}
.oviu-lightgrey small {
  opacity: 0.7;
  color: white !important;
}
.btn-wind {
  color: white;
  background-color: #7aaaa7;
  border-color: transparent;
}
.btn-wind:hover,
.btn-wind:focus,
.btn-wind:active,
.btn-wind.active,
.open .dropdown-toggle.btn-wind {
  color: white;
  background-color: #629996;
  border-color: rgba(0, 0, 0, 0);
}
.btn-wind:active,
.btn-wind.active,
.open .dropdown-toggle.btn-wind {
  background-image: none;
}
.btn-wind.disabled,
.btn-wind[disabled],
fieldset[disabled] .btn-wind,
.btn-wind.disabled:hover,
.btn-wind[disabled]:hover,
fieldset[disabled] .btn-wind:hover,
.btn-wind.disabled:focus,
.btn-wind[disabled]:focus,
fieldset[disabled] .btn-wind:focus,
.btn-wind.disabled:active,
.btn-wind[disabled]:active,
fieldset[disabled] .btn-wind:active,
.btn-wind.disabled.active,
.btn-wind[disabled].active,
fieldset[disabled] .btn-wind.active {
  background-color: #7aaaa7;
  border-color: transparent;
}
.btn-wind .badge {
  color: #7aaaa7;
  background-color: white;
}
.btn-grey {
  color: white;
  background-color: #58595b;
  border-color: transparent;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  color: white;
  background-color: #444546;
  border-color: rgba(0, 0, 0, 0);
}
.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  background-image: none;
}
.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey,
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active {
  background-color: #58595b;
  border-color: transparent;
}
.btn-grey .badge {
  color: #58595b;
  background-color: white;
}
.btn-circle {
  border-radius: 20px;
}
.row {
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#singleSupplierButtons .row {
  margin-bottom: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.card {
  padding: 10px 30px 10px;
}
.card,
.jumbotron {
  background-color: white;
  margin: 10px auto 0px;
  position: relative;
  border: 0px solid #e8e8e8;
}
.collapsable {
  display: inline-block;
  overflow: hidden;
  height: 0;
  transition: height 1s;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -o-transition: height 1s;
}
.collapsable.showMe {
  height: 100px;
}
.jumbotron2 {
  background-color: #e7e7e7;
}
body .star .glyphicon {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  font-size: 20px;
}
body .star2x .glyphicon {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  font-size: 30px;
  margin-bottom: 15px;
}
.rating:before {
  content: "\f006";
  padding-right: 5px;
  color: #777777;
}
.rating-selected:before {
  content: "\f005";
  padding-right: 5px;
  color: #e3cf7a;
}
#handelser {
  padding-right: 0px;
}
#containerIntro {
  margin-bottom: 20px;
}
#containerIntro h1,
#containerIntro h2,
#containerIntro p {
  display: inline;
  vertical-align: middle;
}
/*  Bootstrap Clearfix */
/*  Tablet  */
@media (max-width: 766px) {
  .container {
    padding: 0;
    margin: 0;
  }
  body {
    padding: 0;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: none;
  }
  .col-xs-1:nth-child(12n+1),
  .col-xs-2:nth-child(6n+1),
  .col-xs-3:nth-child(4n+1),
  .col-xs-4:nth-child(3n+1),
  .col-xs-6:nth-child(2n+1) {
    clear: left;
  }
}
/*  Tablet  */
@media (min-width: 767px) {
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1) {
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: left;
  }
}
/*  Medium Desktop  */
@media (min-width: 992px) {
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1) {
    clear: left;
  }
}
/*  Large Desktop  */
@media (min-width: 1200px) {
  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1) {
    clear: left;
  }
}
.view-animate.ng-enter,
.view-animate.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  display: block;
  width: 100%;
  margin-top: 77px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.view-animate.ng-enter {
  left: 100%;
}
.view-animate.ng-enter.ng-enter-active {
  left: 0;
}
.view-animate.ng-leave.ng-leave-active {
  left: -100%;
}
.modal-backdrop.am-fade {
  opacity: .7;
  transition: opacity .15s linear;
}
.modal-backdrop.am-fade.ng-enter {
  opacity: 0;
}
.modal-backdrop.am-fade.ng-enter.ng-enter-active {
  opacity: .7;
}
.modal-backdrop.am-fade.ng-leave {
  opacity: .7;
}
.modal-backdrop.am-fade.ng-leave.ng-leave-active {
  opacity: 0;
}
.panel-heading {
  padding: 5px 15px;
}
.panel-footer {
  padding: 1px 15px;
  color: #A0A0A0;
}
.ng-show-add,
.ng-show-remove {
  /* ensu re visibility during the transition */
  display: block !important;
  /* yes, important */
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
}
.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
.cssSlideUp {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 380px;
}
.cssSlideUp.ng-hide {
  height: 0;
}
