<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">

      <div class="modal-header text-center">
        <h3 class="modal-title authform-header-content">Skicka inbjudan till ny användare</h3>
        <span 
          type="button" 
          class="glyphicon glyphicon-remove pull-right authform-header-content" 
          id="authform-close" 
          data-dismiss="modal"
          ng-click="dismiss()">
        </span>
      </div><!-- ./modal-header -->

      <div class="modal-body">

        <form ng-submit="inviteUser(candidate, mailtext)" name="inviteForm" novalidate>

          <div class="alert alert-success" role="alert" ng-show="success &&
              message">{{message}}</div>
          <div class="alert alert-danger" role="alert" ng-show="!success &&
            message">{{message}}</div>

            <div 
              class="form-group"
              ng-class="{ 'has-error' : (inviteForm.candidateEmail.$invalid &&
                inviteForm.candidateEmail.$touched) || (inviteForm.$submitted && !success) }">
              <div class="input-group">
                <span class="input-group-addon">
                  @
                </span>
                <input 
                  type="email" 
                  class="form-control" 
                  id="candidate-email"
                  name="candidateEmail"
                  ng-model="candidate.email"
                  required
                  autofocus
                  placeholder="namn@företag.se">
              </div>
              <p class="help-block" ng-show="inviteForm.candidateEmail.$invalid &&
                inviteForm.candidateEmail.$touched">
                <span>Du måste ange en giltig epostadress.</span>
              </p>
              <p class="help-block" ng-show="mailerror">
                <span>Denna mail adress är redan registrerad.</span>
              </p>
            </div>

            <h4>Meddelande till användaren</h4>
            <textarea class="form-control" rows="4" ng-model="mailtext">
            </textarea>

            <h4>Privilegier för användaren</h4>
            {{explanation}}
            <div class="form-group">
              <div class="btn-group">
                <label class="btn btn-primary" ng-model="candidate.role"
                  btn-radio="'admin'">Admin</label>
                <label class="btn btn-primary" ng-model="candidate.role"
                  btn-radio="'editor'">Editor</label>
                <label class="btn btn-primary" ng-model="candidate.role"
                  btn-radio="'viewer'">Viewer</label>
              </div>
            </div>
        

          <div class="modal-footer text-center">
            <button 
              type="submit" 
              ng-disabled="inviteForm.$invalid"
              class="btn btn-block btn-lg btn-wind">
              Bjud in användare
            </button>
          </div> <!-- ./modal-footer -->

        </form><!-- ./modal-form -->
      </div><!-- ./modal-body -->
    </div><!-- ./modal-content -->
  </div><!-- ./modal-dialogue -->
</div><!-- ./modal -->
