<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-sm-6 col-md-4 col-md-offset-4">

      <h3>Skicka inbjuding till användare</h3>
      <form ng-submit="inviteUser(candidate, mailtext)" name="inviteForm" novalidate>

        <div class="alert alert-success" role="alert" ng-show="success &&
          message">{{message}}</div>
        <div class="alert alert-danger" role="alert" ng-show="!success &&
          message">{{message}}</div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              @
            </span>
            <input type="text" class="form-control" id="candidate-email"
            name="candidateEmail"
            ng-model="candidate.email"
            placeholder="namn@företag.se"
            required 
            autofocus>
          </div>
        </div>

        <h4>Meddelande till användaren</h4>
        <textarea class="form-control" rows="4" ng-model="mailtext">
        </textarea>


        <h4>Privilegier för användaren</h4>
        {{explanation}}
        <div class="form-group">
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="candidate.role"
              btn-radio="'admin'">Admin</label>
            <label class="btn btn-primary" ng-model="candidate.role"
              btn-radio="'editor'">Editor</label>
            <label class="btn btn-primary" ng-model="candidate.role"
              btn-radio="'viewer'">Viewer</label>
          </div>
        </div>

        <div class="form-group">
          <input ng-disabled="inviteForm.$invalid" type="submit" class="btn btn-lg btn-wind btn-block"
          value="Skicka">
        </div>
      </form>

    </div><!--/.col-xs-12.col-sm-9-->
  </div><!--/row-->
</div><!--/.container-->
