<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header text-center">
        <h4 class="modal-title authform-header-content">OBS!</h4>
        <span 
          type="button" 
          class="glyphicon glyphicon-remove pull-right authform-header-content" 
          id="authform-close" 
          data-dismiss="modal"
          ng-click="dismiss()">
        </span>
      </div><!-- ./modal-header -->

      <div class="modal-body text-center">
        <p>Vill du verkligen ta bort {{user.name}}?</p>
      </div> <!-- ./modal-body -->

      <div class="modal-footer text-center">
        <button class="btn btn-block btn-wind" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-block btn-warning" type="button" ng-click="cancel()">Avbryt</button>
      </div> <!-- ./modal-footer -->

    </div><!-- ./modal-content -->
  </div><!-- ./modal-dialogue -->
</div><!-- ./modal -->
