<div id="single-supplier" class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">

    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="card">
        <div class="row">
          <div class="text-left col-xs-9">
            <h1>{{selectedUser.name || "Hittade ingen användare"}}</h1>
          </div>
          <div class="text-right col-xs-3">
            <button  ng-if="(userRole == 'creator' || userRole == 'admin')" type="button" ng-show="selectedUser" ng-click="deleteUser(selectedUser.user_id)" class="btn btn-danger text-right">Ta bort användare</button>
          </div>
        </div>
        <div class="row">
          <div ng-show="selectedUser">
            <div class="col-xs-12">
              <p>E-mail: {{selectedUser.email}}</p>
              <hr>
              <p>Rättigheter: {{selectedUser.role}}</p>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.col-xs-12.col-sm-10-->
  </div><!--/row-->
</div><!--/.container-fluid-->
