<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-sm-6 col-md-4 col-md-offset-4">

      <h3>Registrera användare</h3>
      <form ng-submit="registerUser(user)" name="regForm" novalidate>

        <div class="alert alert-success" role="alert" ng-show="success &&
          message">{{message}}</div>
        <div class="alert alert-danger" role="alert" ng-show="!success &&
          message">{{message}}</div>

        <div class="form-group" ng-class="{ 'has-error' :
          regForm.userName.$invalid && regForm.userName.$dirty }">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </span>
            <input type="text" class="form-control" id="user-name" name="userName"
              ng-model="user.name"
              required
              autofocus
              placeholder="Ditt namn">
          </div>
          <p class="help-block" ng-show="regForm.userName.$invalid && regForm.userName.$dirty">
            <span>Du glömde ange ditt namn.</span>
          </p>
        </div>

        <div class="form-group"
          ng-class="{ 'has-error' : regForm.userPassword.$invalid &&
          regForm.userPassword.$dirty || passworderror }">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
            </span>
            <input type="password" class="form-control" id="user-password"
              name="userPassword"
              ng-model="user.password"
              ng-minlength="8"
              required
              placeholder="Lösenord">
          </div>
          <p class="help-block" ng-show="regForm.userPassword.$invalid &&
            regForm.userPassword.$dirty || passworderror">
            <span>Ditt lösenord måste innehålla minst 8 tecken.</span>
          </p>
        </div>

        <div class="form-group"
          ng-class="{ 'has-error' : regForm.userConfirm.$invalid &&
          regForm.userConfirm.$dirty }">
          <div class="input-group">
            <span class="input-group-addon">
              x2
            </span>
            <input type="password" class="form-control" id="user-confirm"
              name="userConfirm"
              ng-model="user.confirm"
              password-verify="user.password"
              required
              placeholder="Repetera lösenord">
          </div>
          <p class="help-block" ng-show="regForm.userConfirm.$error.passwordVerify">
            <span>Du angav inte samma lösenord som ovan.</span>
          </p>
        </div>

        <div class="form-group">
          <input ng-disabled="regForm.$invalid" type="submit" class="btn btn-lg btn-wind btn-block"
          value="Skicka">
        </div>
      </form>

    </div><!--/.col-xs-12.col-sm-9-->
  </div><!--/row-->
</div><!--/.container-->
