<div class="container-fluid">

  <!-- Display user statistics -->
  <div class="row">
    <div class="admincards col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card darkwind text-center">
          <h3>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <small>&nbsp;&nbsp;&nbsp;Antal användare: </small> 
            {{users.length}}
          </h3>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card oviu-lightgrey text-center">
          <h3>
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            <small>&nbsp;Antal administratörer: </small> 
            {{(users | filter:{role:'creator'}).length + (users | filter:{role:'admin'}).length}}
          </h3>
        </div>
      </div>
      <!-- TODO! What to display here? -->
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card wind text-center">
          <h3>
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            <small>&nbsp;&nbsp;&nbsp;Antal kategorier: </small> 
            {{users.length}}
          </h3>
        </div>
      </div>
    </div>
  </div>

  <!-- List the users -->
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="col-sm-12">
        <div class="card">

          <!-- Warning signs -->
          <div>
            <alert 
              ng-repeat="alert in alerts" 
              type="{{alert.type}}" 
              close="closeAlert($index)"
            >
              {{alert.msg}}
            </alert>
          </div>

          <button 
            ng-if="(userRole == 'creator' || userRole == 'admin')" 
            class="btn btn-grey pull-right" 
            ng-click="openInviteModal()">
            Bjud in användare
          </button>
          <h2>Användare hos {{org}}</h2>
          <table class="table table-bordered table-striped">
            
            <thead>
              <tr>
                <td>
                  <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    Namn 
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </td>
                <td>
                  <a href="#" ng-click="sortType = 'email'; sortReverse = !sortReverse">
                    E-mail 
                    <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </td>
                <td>
                  <a href="#" ng-click="sortType = 'role'; sortReverse = !sortReverse">
                    Rättigheter 
                    <span ng-show="sortType == 'role' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'role' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </td>
                <td>
                  <a href="#" ng-click="sortType = 'role'; sortReverse = !sortReverse">
                    Medlem sedan 
                    <span ng-show="sortType == 'role' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'role' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </td>
                <td>
                  <a href="#" ng-click="sortType = 'role'; sortReverse = !sortReverse">
                    Senaste inloggningsförsök 
                    <span ng-show="sortType == 'role' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'role' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </td>
                <td  ng-if="(userRole == 'creator' || userRole == 'admin')">
                  <a href="#" ng-click="sortType = 'active'; sortReverse = !sortReverse">
                    Aktiv?
                    <span ng-show="sortType == 'active' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'active' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </td>
                <td  ng-if="(userRole == 'creator' || userRole == 'admin')">
                  Ta bort
                </td>
              </tr>
            </thead>
            
            <tbody>
              <tr ng-repeat="user in users | orderBy:sortType:sortReverse">
                <td>
                  <a ui-sref="anvandare.enanvandare({ user_id: user._id })">
                    {{ user.name }}
                  </a>
                </td>
                <td>
                  {{ user.email }}
                </td>
                <td>
                  {{ user.role }}
                </td>
                <td>
                  {{ user.created_at | date : 'yyyy/MM/dd' : '+0100' }}
                </td>
                <td>
                  {{ user.lastLoginAttempt | date : 'd/M/yy' : '+0100' }}
                </td>
                <td ng-if="(userRole == 'creator' || userRole == 'admin')">
                  {{ user.active ?  'Ja' : 'Nej' }}
                </td>
                <td ng-if="(userRole == 'creator' || userRole == 'admin')"> 
                  <button 
                    ng-show="user.role != 'creator' || userId != user._id"
                    ng-click="openRemoveModal(user)" 
                    type="button" 
                    class="btn btn-default"
                  >
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
            </tbody>
            
          </table>

        </div>
      </div>
    </div>
  </div>
</div>


