a.link-block {
	display: block;
	color: #222;
	text-decoration: none;
}

#single-supplier .card {
  //margin-right: 0px 15px 0px 0px;
}

#search-row {
  background: @transpwind8;
}

#search-row h1 {
	margin-bottom: 15px;
}

#headerSingleSupplier .form-control {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 55px;
}

.form-horizontal {
  margin-top: 0px;
}

.star {
  margin-left: 18px;
}

//File upload
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 160px;
    height: 90px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}
.drop-box.dragover-err {
  border: 5px dashed red;
}

.sel-file {
  padding: 1px 5px;
  font-size: smaller;
  color: grey;
}

.response {
  padding: 0;
  padding-top: 10px;
  margin: 3px 0;
  clear: both;
}

.response .sel-file li, .response .reqh {
  color: blue;
  padding-bottom: 5px;
}

.progress {
  display: inline-block;
  width: 160px;
  height: 90px;
  text-align: center;
  //padding-top: 25px;
  margin: 10px;
  border: 2px @oviu-grey;
}

.progress div {
  font-size: smaller;
  background: @wind;
  width: 0;
}

.up-buttons {
  float: left;
}

/* for IE*/
.js-fileapi-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.ng-v {
  float: right;
}

// .thumb {
//   float: left;
//   width: 40px;
//   height: 40px;
//   padding-right: 0px;
// }

form .thumb {
  width: 160px;
  //height: 50px;
  float: none;
  position: relative;
  top: 7px;
  margin: 10px;
}

form .progress {
  line-height: 15px;
}

.sub {
  font-size: smaller;
  color: #777;
  padding-top: 5px;
  padding-left: 10px;
}

.err {
  font-size: 12px;
  color: #C53F00;
  margin: 15px;
  padding: 15px;
  background-color: #F0F0F0;
  border: 1px solid black;
}

.server {
  margin-bottom:20px;
}

.srv-title {
  font-weight: bold;
  padding: 5px 0 10px 0;
}

:not(output):-moz-ui-invalid {
    box-shadow: none;
}

//Search Row

#search-row .input-container {
	margin-top: 15px;
	color: black;
	.rating:before {
	  content: "\f006";
	  padding-right: 5px;
	  color: black;
	}

	.rating-selected:before {
	  content: "\f005";
	  padding-right: 5px;
	  color: #e3cf7a;
	}
}

.live-preview {
  margin-bottom: 20px;
}

.supplier-inner {

  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  line-height: 1.5;
  background-color: white;
  min-height: 200px;
  width: 100%;
  font-size: 11px;
  padding: 3px;
  // -webkit-border-radius: .25rem;
  // -moz-border-radius: .25rem;
  // border-radius: .25rem;
  // -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
  // -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
  // box-shadow: 0 1px 0 rgba(0,0,0,0.25);
  // margin: 10px 5px 0px 0px;
  // border: 1px solid #e8e8e8;
}
.supplier-inner:hover {
  //border-color: #80b9dd;
  //border: 1px solid transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: @lightwind;
  text-decoration: none;
}

#suppliercontainer {
  border-collapse: collapse;
  //display : table;
}

.fix-padding {
  padding-left: 10px;
  padding-right: 10px;
}

#supplier-title {
  padding-left: 10px;
  padding-right: 10px;
}

#supplier-category {
  display : table-row;
  vertical-align : bottom;
  height : 1px;
}

.supplier-card {
  padding-right: 5px;
  padding-left: 5px;
  //border: 1px solid transparent;
}

.input-container {
  float: left;
  //width: 100%;
}

label {
  //margin-right: 15px;
}

div.segment {
  float: left;
  width: 75%;
  margin: 0;
  padding: 0 15px;
  overflow: hidden;
}

.tag-label {
  float: left;
  width: 50%;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  text-overflow:ellipsis;
  text-tranform: capitalize;
  white-space: nowrap;
}

.tag-label:hover {
  border-color: #ddd;
  color: #888;
}

.tag-label:active {
  border-color: #999;
  color: #222;
}


/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

.btn-group .btn + .btn {
    margin-left: 0px;
}

.btn-breadcrumb {
  margin-left: 50px;
}

.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
  border-radius: 0px;
}

.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/


.btn-breadcrumb .btn-default {
  color: #333;
  background-color: @background;
  //border: none;
}

.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid @background;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid @background;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

/* The responsive part */

.btn-breadcrumb > * > div {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-breadcrumb > *:nth-child(n+2) {
  display:none;
}

/* === For phones =================================== */
@media (max-width: 767px) {
    .btn-breadcrumb > *:nth-last-child(-n+2) {
        display:block;
    }
    .btn-breadcrumb > * div {
        max-width: 60px;
    }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display:block;
    }
    .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* === For desktops ================================== */
@media (min-width: 992px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display:block;
    }
    .btn-breadcrumb > * div {
        max-width: 170px;
    }
}

