<div class="container-fluid">
  <div class="row">
    <div class="admincards col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card darkwind text-center">
          <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span><small>&nbsp;&nbsp;&nbsp;Antal användare: </small> {{users.length}}</h2>
          <a ui-sref="anvandare">
              <button class="btn btn-grey" >->användare</button>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card oviu-lightgrey text-center">
          <h2><span class="glyphicon icon-Leverantor" aria-hidden="true"></span><small>&nbsp;&nbsp;&nbsp;Antal leverantörer: </small> {{suppliers.length}}</h2>
          <a ui-sref="leverantorer">
              <button class="btn btn-grey" >->leverantörer</button>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card wind text-center">
          <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><small>&nbsp;&nbsp;&nbsp;Antal kategorier: </small> {{categories.length}}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div class="jumbotron text-center">
        <h1>Hej {{user.name}}!</h1>
        <br>
        <p id="welcome">Välkommen till</p>
        <div class="row">
      		<div class="col-sm-4 col-xs-6 col-sm-offset-4 col-xs-offset-3">
            <img
            src="http://suppliercloud.se/wp-content/uploads/2014/11/O-viu_logotplus_bluelight_rgbRETINA.png"
            class="img-responsive" 
            alt="O-viu">
          </div>
        </div>
        <br>
        <p>Du tillhör organisationen {{org}}</p>
      </div><!--/jumbotron-->
    </div><!--/.col-xs-12.col-sm-9-->
  </div><!--/row-->
</div><!--/.container-->
