<div id="single-supplier" class="container-fluid" ng-init="getSingleSupplier()">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="hidden-xs col-sm-3 sidebar-offcanvas" id="sidebarsuppliers">
      <div class="card" id="sokruta">
        <hr>
        <div class="input-group col-xs-12">
          <input 
            type="search" 
            class="form-control" 
            placeholder="Sök Leverantörer" 
            name="srch-term" 
            id="srch-term" 
            ng-model="search" 
          />
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div><!--/.input-group-btn-->
        </div><!--/.input-group-->
        <hr>
        <div ng-repeat="supplier in filtered = (suppliers | filter:search) | orderBy:'name'">
          <a ui-sref="leverantorer.leverantor({ supplier_id: supplier._id })">
            <h2>{{supplier.name | descriptionFilter:letterLimitHeading}}</h2>
          </a>
          <rating ng-model="supplier.rating" max="5" data-readonly="true"></rating>
          <p>{{supplier.description | descriptionFilter:letterLimit}} </p>
        </div><!--/ng-repeat-->
      </div><!--/#sokruta-->
    </div><!--/#sidebarsuppliers"-->

    <!-- Column with viewing and editing supplier  -->
    <div class="col-xs-12 col-sm-8">

      <!-- Warning signs -->
      <div>
        <alert 
          ng-repeat="alert in alerts" 
          type="{{alert.type}}" 
          close="closeAlert($index)"
        >
          {{alert.msg}}
        </alert>
      </div>

      <!-- Show below if viewing supplier   -->
      <div ng-hide="editing">
        <div class="card">
          <div class="row">
            <div class="text-left col-xs-8">
              <h1>{{selectedSupplier.name || "Hittade ingen leverantör"}}</h1>
            </div>
            <div 
              ng-if="(userRole == 'creator' || userRole == 'admin' || userRole == 'editor')" 
              id="singleSupplierButtons" 
              class="text-right col-xs-4"
            >
              <div class="row">
                <div class="text-right col-xs-12">
                  <button class="btn btn-info" ng-show="selectedSupplier" ng-click="setEditing(true)">Editera leverantör</button>
                </div>
              </div>
              <div class="row">
                <div class="text-right col-xs-12">
                    <button ng-show="selectedSupplier" ng-click="deleteSupplier()" class="btn btn-danger">Ta bort leverantör</button>
                </div>
              </div>
            </div><!--/#Single supplier buttons-->
            <div class="col-xs-8 star2x">
              <rating 
                ng-model="selectedSupplier.rating" 
                max="5"
                data-readonly="true" 
                state-on="'rating-selected'" 
                state-off="'rating'">
              </rating>
            </div>
          </div><!--/row-->

        </div><!-- /.card -->


        <div class="card col-xs-12">
          <div class="row">
            <div ng-show="selectedSupplier">
              <div class="card col-xs-12 col-sm-6">             
                <h4>
                  Segment: &nbsp;
                  <span class="label label-primary">
                    {{selectedSupplier.segment || 'Inget segment inlagt'}}
                  </span>
                  <a ui-sref="leverantorer({filterParam: selectedSupplier.segment})">
                    {{selectedSupplier.segment || 'Inget segment inlagt'}}
                  </a>
                </h4>
              </div>
              <div class="card col-xs-12 col-sm-6">
                <h4>
                  Kategori: &nbsp;
                  <span class="label label-primary">
                    {{selectedSupplier.category || 'Ingen kategori inlagd'}}
                  </span>
                </h4>
              </div>
            </div>
          </div><!--/row-->
        </div><!--/card-->

        <div class="card col-xs-12 col-sm-6">
          <div class="row">
            <div ng-show="selectedSupplier">
              <div>
                
                <p>Leverantörsansvarig: {{selectedSupplier.supplierManager}}</p>
                <hr>
                <p>Beskrivning: {{selectedSupplier.description}}</p>
              </div>
            </div>
          </div><!--/row-->
        </div><!--/card-->
      </div><!-- /ng-hide -->
      
      <!-- Show below if editing supplier   -->
      <div class="card" ng-show="editing">
        <!-- Begin the input form -->
        <form 
        class="form-horizontal" 
        name="supplierEditForm" 
        >
          <div class="row">

            <div id="headerSingleSupplier" class="text-left col-xs-8">
              <input 
                type="text" 
                class="form-control" 
                id="name" 
                ng-model="selectedSupplier.name"
                placeholder="Namnet på leverantören"
              >
            </div>
            <div id="singleSupplierButtons" class="text-right col-xs-4">
              <div class="row">
                <div class="text-right col-xs-12">
                  <button 
                    class="btn btn-warning" 
                    ng-show="selectedSupplier" 
                    ng-click="reset(supplierEditForm)"
                  >
                    Avbryt
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="text-right col-xs-12">
                    <button 
                      ng-show="selectedSupplier" 
                      ng-click="deleteSupplier()" 
                      class="btn btn-danger"
                    >
                      Ta bort leverantör
                    </button>
                </div>
              </div>
            </div><!--/#Single supplier buttons-->
          </div><!-- ./row -->

          <div class="row">
            <div ng-show="selectedSupplier">
              <div class="col-xs-12">

                <div class="form-group">
                  <span class="col-xs-12">
                    <div class="star2x">
                      <rating 
                        ng-model="selectedSupplier.rating" 
                        max="5"
                        state-on="'rating-selected'" 
                        state-off="'rating'">
                      </rating>
                    </div>
                  </span>
                </div> <!-- ./form-group -->

                <div class="form-group">
                  <div class="col-xs-12">
                    <label for="supplierManager" class="control-label">Leverantörsansvarig: </label>
                  
                      <input 
                        type="text" 
                        id="supplierManager" 
                        class="form-control"
                        ng-model="selectedSupplier.supplierManager"
                        placeholder="Namn på vår leverantörsansvarig"
                      >
                  </div>
                </div><!-- ./form-group -->

                <hr>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label for="description" class="control-label">Beskrivning:</label>
                    <span class="">
                      <textarea id="description" class="form-control" cols="30" rows="5"
                        ng-model="selectedSupplier.description"
                        placeholder="En kort beskrivning av leverantören"></textarea>
                    </span>
                  </div>
                </div><!-- ./form-group -->

                <div class="form-group">
                  <div class="col-xs-12">
                    <label for="orgnr" class="control-label">Organisationsnummer:</label>
                    <span class="">
                      <input type="text" id="orgnr" class="form-control" ng-model="selectedSupplier.orgnr"
                        placeholder="Leverantörens organisationsnummer">
                    </span>
                  </div>
                </div><!-- ./form-group -->

                <div class="form-group">
                  <label for="segment.name" class="control-label col-sm-2">Segment:</label>
                  <br>
                  <div class="segment">
                    <div class="btn-group">
                      <label 
                        ng-repeat="segment in segments" 
                        for="{{segment.name}}" 
                        class="btn btn-grey" 
                        style="margin:0 1px 1px 0"
                      >
                      {{segment.name}}
                      <input type="radio"
                      ng-model="selectedSupplier.segment"
                      ng-value="segment.name"
                      id="{{segment.name}}"
                      name="segment">
                      </label>
                    </div>
                  </div>
                </div><!-- ./form-group -->

                <div class="form-group">
                  <label for="category.name" class="control-label col-sm-2">Kategori:</label>
                  <br>
                  <div class="category">
                    <div class="btn-group">
                      <label 
                        ng-repeat="category in categories" 
                        for="{{category.name}}" 
                        class="btn btn-grey"
                        style="margin:0 1px 1px 0"
                      >
                      {{category.name}}
                      <input type="radio"
                      ng-model="selectedSupplier.category"
                      ng-value="category.name"
                      id="{{category.name}}"
                      name="category">
                      </label>
                    </div>
                  </div>
                </div><!-- ./form-group -->

                <div class="form-group">
                  <span class="col-lg-10 col-lg-offset-1 text-center">
                    <input 
                      type="submit" 
                      ng-click="submit($event, supplierEditForm, selectedSupplier)" 
                      value="Spara leverantör" 
                      class="btn btn-grey btn-lg btn-block" 
                    />
                  </span>
                </div><!-- ./form-group -->

              </div>
            </div>
          </div><!--/row-->

        <!-- Below is for uploading images with the supplier. Preliminary support is implemented in the controller but needs updating to submit the image to the actual supplier. -->

  <!--    <fieldset class="form-group">
            <div class="col-xs-12">
              <label for="imgUrl" class="control-label">Leverantörslogotyp:</label>
              <div ng-file-drop ng-file-select ng-model="files" class="drop-box" drag-over-class="dragover" ng-multiple="true" allow-dir="true" accept="image/*">
                <small>Släpp logotypbild här, eller klicka här</small>
              </div>
              <div ng-no-file-drop>
                <p>Drag och släpp stöds inte av din webbläsare</p>
              </div>
            </div>
          </fieldset> -->

          </form>
        </div><!--/Editing card-->
      
    </div><!--/.col-xs-12.col-sm-10-->
  </div><!--/row-->
</div><!--/.container-fluid-->