<ul class="list-unstyled fix-padding">
<!-- 	<li ng-repeat="(categories, state) in category" ng-show="state">
	  	<button type="button" class="btn btn-info btn-xs">{{categories}}</button>
	</li>
	<li ng-repeat="(segment, state) in segments" ng-show="state">
	  	<button type="button" class="btn btn-primary btn-xs">{{segment}}</button>
	</li> -->
	<button type="button" class="btn btn-primary btn-xs">{{segment}}</button>
</ul>
