<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="jumbotron text-center">
        <div id="containerIntro">
          <p>Ni har totalt:&nbsp;&nbsp;</p><h1>{{suppliers.length}}</h1><p>&nbsp;&nbsp;leverantörer</p>
          <br>
          <p><h5 ng-hide="suppliers.length == filtered.length">Antal valda leverantörer: {{filtered.length}}</h5></p>
          <br>
          <h4>Filtrera på segment:</h4>
          <div class="btn-group">
              <label 
                ng-repeat="segment in getSegments()" 
                class="btn btn-grey" 
                ng-model="filter['segment'][segment]" 
                style="margin:0 1px 1px 0"
                btn-checkbox>
                {{segment || 'ingen data'}}
              </label>
          </div>
          <br>
          <h4>Filtrera på kategori:</h4>
          <div class="btn-group">
              <label 
                ng-repeat="category in getCategories()" 
                class="btn btn-wind" 
                ng-model="filter['category'][category]" 
                style="margin:0 1px 1px 0"
                btn-checkbox>
                {{category || 'ingen data'}}
              </label>
          </div>
        </div>
      </div><!--/jumbotron-->
    </div><!--/.col-->
  </div><!--/.row-->

  <div id="search-row" class="row">
    <div class="col-sm-3">
      <div class="input-group-btn">
        <ul class="inline" style="margin-bottom: 0px">
          <li>
            <div class="btn-group-btn" ng-class="{open: open}">
              <button class="btn btn-grey">Filtrera på segment</button>
              <button class="btn btn-grey dropdown-toggle" ng-click="open=!open"><span class="caret"></span>

              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li><a ng-click="checkAll()"><i class="glyphicon glyphicon-ok-sign"></i>  Check All</a>

                </li>
                <li><a ng-click="selectedSegment=[];"><i class="glyphicon glyphicon-remove-sign"></i>  Uncheck All</a>

                </li>
                <li class="divider"></li>
                <li ng-repeat="segment in segments"> <a ng-click="setSelectedSegment()">{{segment.name}}<span ng-class="isChecked(segment.id)"></span></a>

                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="text-center" ng-show="showForm">
        <h1>Lägg till leverantör</h1>
      </div>

      <div class="input-group" ng-hide="showForm">
        <!-- Typeahead
        <input type="search" class="form-control" placeholder="Sök Leverantörer" name="srch-term" id="srch-term" ng-model="search" typeahead="supplier as supplier.title for supplier in suppliers | filter:$viewValue | limitTo:8" /> -->
        <input 
          type="search" 
          class="form-control"
          placeholder="Sök Leverantörer" 
          name="srch-term" 
          id="srch-term" 
          ng-model="search" 
        />
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div><!--/.input-group-btn-->
      </div><!--/.input-group-->
    </div>
    <div class="col-sm-1 hidden-xs">
    <!-- supplierform button -->
    <button 
      class="btn btn-grey" 
      ng-click="$parent.showForm = !$parent.showForm"
      ng-if="(userRole == 'creator' || userRole == 'admin' || userRole == 'editor')">
      <span 
        class="glyphicon" 
        style="vertical-align:left"
        ng-class="{'glyphicon-chevron-down': showForm,
        'glyphicon-chevron-right': !showForm}">
      </span>
      {{showForm ? " Avbryt" : "Lägg till leverantör"}}
    </button>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div ui-view="form" ng-show="showForm"></div>
      <!-- <supplier-form change-supplier-form="main.changeSupplierForm" ng-show="main.showForm">-->
      <!-- </supplier-form>-->
    </div>
  </div>

  <div class="row">
    <div class="supplier-container col-xs-12 col-sm-10 col-sm-offset-1">
      <div 
        class="supplier-card col-xs-6 col-sm-4 col-md-3 col-lg-2"
        ng-repeat="supplier in filtered = (suppliers | filter:search | filter:segmentfilter | filter:filterByProperties) | orderBy:'name'"
      >
        <div 
          ui-sref="leverantorer.leverantor({ supplier_id: supplier._id })" 
          class="supplier-inner"
        >
          <div id="supplier-title">
            <h4>{{supplier.name | descriptionFilter:letterLimitHeading}}</h4>
            <rating ng-model="supplier.rating" max="5" data-readonly="true"></rating>
            <p>{{supplier.description | descriptionFilter:letterLimit}}</p>
          </div>
          <div id="supplier-category">
            <!-- supplier-labels directives that injects supplier-labels.tpl.html -->
            <supplier-labels category="supplier.category" segment="supplier.segment"></supplier-labels>
          </div>
        </div><!--/#suppliercontainer-->
      </div><!--/.supplier-card-->
    </div><!--/.row-->
  </div><!--/.supplier-container-->

</div><!--/.container-fluid-->
