<form name="supplierForm" ng-submit="createSupplier(supplier)" >
  <section class="row well live-preview hidden-xs" ng-show="supplier.name">

    <div class="alert alert-success" role="alert" ng-show="success">
      {{submitMessage}}
    </div>
    <div class="alert alert-danger" role="alert" ng-show="failure">
      {{submitMessage}}
    </div>

    <!--  preview of supplier -->
    <aside class="col-sm-3">

      <!-- <div ng-hide="files.length > 0" class="drop-box">-->
      <!--   <small>Logotyp</small>-->
      <!-- </div>-->
      <!-- [> pic<]-->
      <!-- <div ng-show="files.length > 0" class="response">-->
      <!--   <div class="sel-file" ng-repeat="file in files">-->
      <!--     <img ng-show="file.dataUrl" ng-src="{{file.dataUrl}}" class="thumb">-->
      <!--     <span class="progress" ng-show="file.progress >= 0 && file.progress < 100">-->
      <!--       <div style="width:{{file.progress}}%">{{file.progress}}%</div>-->
      <!--       <button class="button btn btn-grey" ng-click="file.upload.abort();file.upload.aborted=true"-->
      <!--         ng-show="file.upload != null && file.progress < 100 && !file.upload.aborted">Avbryt</button>-->
      <!--     </span>-->
      <!--   </div>-->
      <!-- </div>-->
      <!-- [> stars<]-->

      <div class="star text-center">
        <rating ng-model="supplier.rating" max="5" data-readonly="true" state-on="'rating-selected'" state-off="'rating'"></rating>
      </div>
      <!-- segments -->
      <ul class="list-unstyled">
        <li>
          <span class="label label-primary">{{supplier.segment}}</span>
        </li>
      </ul>

    </aside>

    <div class="col-sm-9">
      <h3>{{supplier.name || "Leverantörsnamn"}}</h3>

      <p><em>Organisationsnummer: &nbsp;</em>{{supplier.orgnr || "Inget organisationsnummer"}}</p>
      <p><em>Beskrivning: &nbsp;</em>{{supplier.description || "Ingen leverantörsbeskrivning"}}</p>
      <p><em>Leverantörsansvarig: &nbsp;</em>{{supplier.supplierManager || "Ingen leverantörsansvarig"}}</p>

    </div>
  </section>

  <div class="input-container col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

    <fieldset class="form-group">
      <div class="col-xs-12">
        <label for="name" class="control-label">Leverantörsnamn:</label>
        <span class="">
          <input type="text" class="form-control" id="name" ng-model="supplier.name"
          placeholder="Namnet på leverantören">
        </span>
      </div>
    </fieldset>

<!-- Below is for uploading images with the supplier. Preliminary support is implemented in the controller but needs updating to submit the image to the actual supplier. -->

<!--     <fieldset class="form-group">
      <div class="col-xs-12">
        <label for="imgUrl" class="control-label">Leverantörslogotyp:</label>
        <div ng-file-drop ng-file-select ng-model="files" class="drop-box" drag-over-class="dragover" ng-multiple="true" allow-dir="true" accept="image/*">
          <small>Släpp logotypbild här, eller klicka här</small>
        </div>
        <div ng-no-file-drop>
          <p>Drag och släpp stöds inte av din webbläsare</p>
        </div>
      </div>
    </fieldset> -->

    <fieldset class="form-group">
      <div class="col-xs-12">
        <label for="orgnr" class="control-label">Organisationsnummer:</label>
        <span class="">
          <input type="text" id="orgnr" class="form-control" ng-model="supplier.orgnr"
            placeholder="Leverantörens organisationsnummer">
        </span>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <div class="col-xs-12">
        <label for="description" class="control-label">Beskrivning:</label>
        <span class="">
          <textarea id="description" class="form-control" cols="30" rows="3"
            ng-model="supplier.description"
            placeholder="En kort beskrivning av leverantören"></textarea>
        </span>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <div class="col-xs-12">
        <label class="control-label" for="supplierManager">Leverantörsansvarig: </label>
        <span class="">
          <input type="text" id="supplierManager" class="form-control"
          ng-model="supplier.supplierManager"
          placeholder="Namn på vår leverantörsansvarig"></span>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <span class="col-xs-12">
        <label for="rating" class="control-label">Rating:</label>
        <div class="star">
          <rating ng-model="supplier.rating" max="5" state-on="'rating-selected'" state-off="'rating'"></rating>
        </div>
      </span>
    </fieldset>

    <fieldset class="form-group">
      <label for="segment.name" class="control-label col-sm-2">Segment:</label>
      <br>
      <div class="segment">
        <div class="btn-group">
          <label 
            ng-repeat="segment in segments" 
            for="{{segment.name}}" 
            class="btn btn-grey" 
            style="margin:0 1px 1px 0"
          >
          {{segment.name}}
          <input type="radio"
          ng-model="supplier.segment"
          ng-value="segment.name"
          id="{{segment.name}}"
          name="segment">
          </label>
        </div>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <label for="category.name" class="control-label col-sm-2">Kategori:</label>
      <br>
      <div class="category">
        <div class="btn-group">
          <label 
            ng-repeat="category in categories" 
            for="{{category.name}}" 
            class="btn btn-grey"
            style="margin:0 1px 1px 0"
          >
          {{category.name}}
          <input type="radio"
          ng-model="supplier.category"
          ng-value="category.name"
          id="{{category.name}}"
          name="category">
          </label>
        </div>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <span class="col-lg-10 col-lg-offset-1 text-center">
        <input type="submit" value="Spara leverantör" class="btn btn-grey btn-lg btn-block" />
      </span>
    </fieldset>

  </div>
</form>
