<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <div class="alert alert-success" role="alert" ng-show="success">
        {{message}}
      </div>
      <div class="confirmation-box" ng-show="success">
        Du kan nu logga in!
      </div>

      <div class="alert alert-danger" role="alert" ng-show="!success">
        {{message}}
      </div>
      <div class="confirmation-box" ng-show="!success">
        Något gick fel i bekräftelsen!
      </div>

    </div><!--/.col-xs-12.col-sm-9-->
  </div><!--/row-->
</div><!--/.container-->
