<div class="container" style="margin-top:40px">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <div class="panel panel-default">

        <div class="panel-heading">
          <strong>Återställ ditt lösenord</strong>
        </div>

        <div class="panel-body">

          <form class="form-signin" ng-submit="resetPasswordAndLogin(password)"
            name="resetForm" novalidate>
            <div class="alert alert-danger" role="alert" ng-show="failure &&
              message">{{message}}</div>

            <fieldset>

              <div class="row">
                <div class="col-sm-12 col-md-10  col-md-offset-1 ">

                  <div class="form-group"
                    ng-class="{ 'has-error' : resetForm.userPassword.$invalid &&
                    resetForm.userPassword.$dirty || passworderror }">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                      </span>
                      <input type="password" class="form-control" id="user-password"
                        name="userPassword"
                        ng-model="password"
                        ng-minlength="8"
                        required
                        placeholder="Lösenord">
                    </div>
                    <p class="help-block" ng-show="resetForm.userPassword.$invalid &&
                      resetForm.userPassword.$dirty || passworderror">
                      <span>Ditt lösenord måste innehålla minst 8 tecken.</span>
                    </p>
                  </div>

                  <div class="form-group"
                    ng-class="{ 'has-error' : resetForm.userConfirm.$invalid &&
                    resetForm.userConfirm.$dirty }">
                    <div class="input-group">
                      <span class="input-group-addon">
                        x2
                      </span>
                      <input type="password" class="form-control" id="user-confirm"
                        name="userConfirm"
                        ng-model="confirm"
                        password-verify="password"
                        required
                        placeholder="Repetera lösenord">
                    </div>
                    <p class="help-block" ng-show="resetForm.userConfirm.$error.passwordVerify">
                      <span>Du angav inte samma lösenord som ovan.</span>
                    </p>
                  </div>

                  <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-wind btn-block"
                    value="Återställ lösenord och logga in">
                  </div>
                </div>
              </div>

            </fieldset>

          </form>

        </div>

      </div>
    </div>
  </div>
</div>
